@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E9E6E6;
    color: #1a1d1a;
}   
.lets-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    text-align: center;
    padding: 15vh;
}
h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #57AA5A;
}
.container {
    border: 1px solid rgb(75, 74, 74);
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 50vw;
    margin: auto;
    height: 87vh;
    text-align: left;
    background-color: #E9E6E6;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.name-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
p {
    font-weight: 700;
    font-size: 1.5rem;
}
.game-container {
    margin: 5vh auto 0 auto;
    width: fit-content;
    background-color: #57AA5A;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 1px;
}
.cell {
    background-color: #192744;
    width: 100px;
    height: 100px;
    padding: 0;
    color: crimson;
    font-size: 4rem;
}
.fade-in {
    opacity: 1;
    display: block;
}
.fade-out {
    display: none;
    opacity: 0;
}
button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 18px;
    font-weight: 500;
    color: #E9E6E6;
    background-color: #285077;
    border-radius: 5px;
    margin-top: 5vh;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
button:hover {
    background: #57AA5A;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.text-input {
    height: 1.5rem;
    width: 30ch;
    border-radius: 5px;
    border: 1px solid #285077;
}
footer {
    left: 1%;
    bottom: 1%;
    position: fixed;
}
.footer-link {
    color: #F57F21;
    font-weight: bold;
    transition: all 0.2s;
}
@media only screen and (max-width: 925px) {
    h1 {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 635px) {
    .container {
        max-width: 100%;
        border: none;
    }
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lets-play {
        padding: 5vh;
    }
}